

.header_container{
    width: 100%;
    display: block;
    border: 2px solid;
    background-color: aliceblue;
    padding: 10px;
}
.search_box{
    
    float: right;
    margin: 20px;
}

.nav_bar{
    margin-top: 10px;
    border: 1px solid;
    width: 100%;
    text-align: center;
    padding: 10px;
    float: left;
}
.nav-bar-link{
    width: 24%;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
}
.nav-bar-link :hover{
    text-decoration: underline;
}
.app-content {
    display: inline-block;
    vertical-align: top;
}
.app-content-aside{
    width: 15.2%;
    height: 400px;
    
}
.left-aside{
    border: 1px solid;
    list-style: none;
    height: 400px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}
.app-content-section{
    border: 1px solid;
    width: 68.7%;
    height: 400px;
    margin-top: 10px;
}
.post_img{
    width: 100px;
    height:100px;
    margin-left: 13%; 
    margin-top: 4%;
    padding: 20px;
}
.right-aside{
    border: 1px solid;
    height: 100%;
    list-style: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;

}

#page-footer{
    border: 1px solid;
    width: 101.5%;
    height: 100%;
    margin-top: 10px;
    font-size: 25px;
}
.phra{
    margin:10px;
    padding: 5px;
}