/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
body {
  background-color: magenta;
  font-family: 'Raleway', sans-serif;
}
header {
  background: #92E0E5;
  color: white;
  height: 50px;
  padding: 0 25px;
}
header nav {
  float: right;
}
header h1 {
  float: left;
}
 
header nav {
  float: right;
}
nav li {
  display: inline-block;
}
header h1 {
  float: left;
  text-indent: -9999px;
  background: url('../Assignment-4/images/dog-icon..png') no-repeat;
  height: 35px;
  width: 35px;
  margin-top: 8px;
}
nav li {
  display: inline-block;
  padding: 17px 10px;
}
nav li:hover {
  background: #3F8DA7;
  color: white;
  cursor: pointer;
}
#hero {
  background: url('../Assignment-4/images/park.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
}
#hero img {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 50%;
  border: 5px solid #3F8DA7;
}
#hero h2 {
  font-size: 30px;
  margin-bottom: 25px;
}
#hero a {  background: white;
  border: 5px solid #3F8DA7;
  color: #3F8DA7;
  padding: 5px 10px;
  text-decoration: none;
}
 
#hero a:hover {
  padding: 5px 10px;
  background: #3F8DA7;
  color: white;
}
